@charset "utf-8";

/* 테이블 위치, 너비 */
th {
    text-align:center;
}

.id {
    width: 10%;
    text-align:center;
}

.writer {
    width: 16%;
    text-align:center;
}

.view-count, .like-count {
    width: 7%;
    text-align:center;
}

/* 회원가입, 로그인, 로그아웃 간격 */
.btn-space {
    margin-right: 10px;
}

/* 좋아요 크기, 배경화면은 투*/
.btn-icon {
    padding: 3px;
    background-color:transparent;
}

/* 좋아요 버튼 색상 변경 */
.btn-outline-primary {
    color: #6c757d;
    border-color: #6c757d;
}

/* 좋아요, 삭제 버튼 inline */
.del-form, .like-form, .comment-modify-form, .comment-del-form {
    display: inline;
}

/* 회원가입 및 로그인 버튼 아래로 이동 */
.btn-block {
    margin: 20px 0 0;
}

/* 목록에 보이는 title 색상 변경 */
.title a {
    color: 	#000000;
}

/* 페이지네이션 */
a.page-link {
    color: 	#666;
    border: none;
}

/* 현재 페이지네이션 색상 변경 */
.page-item.active .page-link {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

/* 일정 길이 넘어가면 생략 기호 */
td.title > a{
    max-width: 642px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

td.writer > span {
    width: 155px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}


/* 댓글 버튼 간격 주기*/
.comment_btn {
    padding-top: 15px;
}

        .navbar-button {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #f8f8f8;
            color: #777;
        }

        .form-group {
            width: 100%;
        }

        .text-danger {
            margin-bottom: 5px;
        }

        .alert {
            width: 100%;
            padding: 5px;
            margin-bottom: 0;
            text-align:center;
        }
