{% extends 'base.html' %}
{% block content %}

<!-- 게시판 목록 -->
<div class="post-list">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th class="id">번호</th>
            <th class="title">제목</th>
            <th class="writer">작성자</th>
            <th class="view-count">조회</th>
            <th class="like-count">추천</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td class="id">{{ post.id }}</td>
            <td class="title">
                <a href="{% url 'posts:post_detail' post.pk%}">{{ post.title }}
                    {% if post.comment_count > 0 %}
                    <small>({{ post.comment_count }})</small>
                    {% endif %}
                </a>
            </td>
            <!-- 네이버로 로그인 했을 때는 username 보이도록 함-->
            {% if post.author.nickname == '' %}
            <td class="writer"><span>{{ post.author.username }}</span></td>
            {% else %}
            <td class="writer"><span>{{ post.author.nickname }}</span></td>
            {% endif %}
            <td class="view-count">{{ post.view_count }}</td>
            <td class="like-count">{{ post.like_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- 페이지네이션 -->
<div class="page-wrapper">
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if posts.has_previous %}
        <li class="page-item">
            <a href="?page=1" class="page-link">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">&lt;</a>
        </li>
        {% endif %}

        <!-- 페이지 범위 및 현재 페이지 -->
        {% for page in paginator_range %}
        {% if posts.number == page %}
        <li class="page-item active">
            <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a>
        </li>
        <li class="page-item">
            <a href="?page={{ posts.paginator.num_pages }}" class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
